


{% extends "core/base.html" %}
{% load static %}

{% block title %} Lista {% endblock %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<main class="bg-gray-700 py-8">

    <div class="max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold mb-6 text-white">Entradas del Blog</h1>

        {% for entrada in entradas %}

        <article class="bg-gray-100 p-4 rounded-lg shadow-md mb-4">
            <h2 class="text-2xl font-bold text-gray-800 hover:text-blue-500">
                <!-- Enlace al detalle si existe -->
                {{ entrada.title }}
            </h2>
            <h3 class="text-lg text-gray-600 mb-2">{{ entrada.subtitle }}</h3>
            <p class="text-gray-700 line-clamp-3">{{ entrada.descripcion }}</p>


            <form  method="POST" action="{% url 'borrar' entrada.id %}"> 

                {% csrf_token %}

                <button type="submit" >

                    Eliminar

                </button>





            </form>
            
        </article> 

        {% empty %}

        <p class="text-gray-300">No hay entradas disponibles.</p>

        {% endfor %}

    </div>

</main>

{% endblock %}
